@font-face{
  font-family:Noe;
  src: url("../Typeface/NoeDisplay.otf");
}
@font-face{
  font-family:FranklinGothic;
  src: url("../Typeface/FranklinGothic");
}

@font-face{
  font-family:Demi;
  src: url("../Typeface/bold.TTF");
}

/* setting the font */

*{
  padding: 0px;
  margin: 0px;
}

/* navigation */
#links {
  padding:20px 70px 20px 0px;
  list-style-type: none;
  overflow: hidden;
}

.tabs{
  float: right;
}

li a{
  display:block;
  font-size:15px;
  color: #666;
  padding: 10px 30px;
  text-decoration: none;
  font-family: Demi, sans-serif;
}

li a:hover:not(.active) {
  color:black;
}

li a.activate {
  color: black;
  font-size: 15px;
  font-family: Demi;
}
li {
  font-size: 15px;
  line-height: 30px;
}

/* banner section */
.banner{
  display:flex;
  flex-direction: row;
}

h1{
  font-family:Noe,sans-serif;
  font-size:50px;
}


.eachresource{
  font-size:20px;
  font-family: Demi;
  color:black;
  text-decoration: none;
}

hr{
  width:7%;
  border:2px solid;
}

h3, p{
  font-family:FranklinGothic, sans-serif;
}

p{
  font-size:15px;
  line-height:22px;
}

.left{
  padding-left:10%;
  padding-top:200px;
}
.right{
  width:70%;
  padding-top:20px;
  height:auto;
  object-fit: contain;
}
.smalltext{
  padding-top:30px;
  padding-bottom:50px;
  max-width: 70ch;
}
img{
  height:100%;
  width:100%;
}

/* resources section */
.resources{
  padding-top:100px;
  padding-bottom:300px;
}
.resources_container {
  background-color: #f7f6f3;
  padding-top:50px;
}

.small {
  padding-top:15px;
  padding-bottom:140px;
  max-width: 76ch;
}
.title, .row{
  padding-left:10%;
  padding-right:10%;
}

.row{
  padding-bottom:100px;
  display:flex;
  justify-content: space-between;
}
.spaceleft{
  padding-left:40px;
}
.description{
  padding-top:15px;
  max-width: 43ch;
}


/* button at the bottom */
button{
  background-color: transparent;
  border:2px solid black;
  padding:20px 36px;
  font-family: Demi;
  font-size: 14px;
  transition-duration: 0.4s;
  float: right;
}

button:hover{
  background-color:black;
  color:white;
}

#whatis{
  padding-top:100px;
  padding-right:10%;
  float:right;
}
#empty{
  display:none;
}
.test{
  padding:15px 34px;
  background:transparent;
  font-size:15px;
  text-align:center;
  font-style: unset;
  color: #ffffff;
  border: 2px solid #ffffff;
  font-family: Demi;
  animation: fadein 3s;
  transition-duration: 0.4s;
  z-index:1;
}

.test:hover {
  background-color: white !important;
  color: black !important;
}
/* footer */
#footer{
  padding-top:25px;
  padding-bottom:50px;
  background-color:black;
  color:white;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
h3{
  font-size:12px;
  line-height:22px;
}
.leftbot{
  padding-left:7%;
  max-width: 60ch;
}
.rightbot{
  width:50%;
  padding-right:7%;
}
.bottom{
  font-size:12px;
}

*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
* {
  margin:0;padding:0;border:0 none;position: relative; outline: none;
}

.tabs > a:before {
  content: "";
  position: absolute;
  width: 70%;
  height: 3px;
  bottom: 0;
  right: 10;
  background: black;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}
.tabs > a.short:before {
  width:54%;
}
.tabs > a.activate:before,
.tabs > a:hover:before,
.tabs > a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

.eachresource {
  padding-bottom: 10px;
}

.each {
  padding-bottom: 10px;
}

.each > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    right: 0;
    background: black;
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .25s linear;
  }
.each > a:hover:before,
.each > a:focus:before {
    visibility: visible;
    transform: scaleX(1);
}

.rightcopy {
  display: none; 
}

.smalltextcopy {
  display: none;
}

.mobilelist {
  display: none;
}

.topnav {
  display: none;
}

#launch {
  z-index:1;
  float: left;
}

#launch:hover{
  background-color:black;
  color:white;
}


@media (max-width: 768px) {

  .navigation {
    display: none;
  }
  #big {
    font-size: 35px;
    padding-left: 0px;
  }

  .banner {
    display: block;
  }

  .right {
    display: none;
  }

  .rightcopy {
    display: block;
    float:left;
    width: 50vh;
    height: auto;
    margin-left: 10px;
    margin-right:10px;
    margin-bottom: 20px;
  }

  .smalltext {
    display: none;
  }

  .left {
    padding-left: 30px;
    padding-right:30px;
    padding-top: 60px;
  }

  .smalltextcopy {
    display: block;
    padding-top:50px;
    padding-bottom:30px;
    max-width: 42ch;
    font-size: 15px;
 
  }

  #launch {
    float: left;
    padding: 10px 30px;
    margin-bottom: 50px;
  }

  #launch:hover{
    background-color:black;
    color:white;
  }

  .resources_container {
    background-color:  #f7f6f3;
    padding-bottom: 20px;
  }

  #resourcetitle {
    padding-top: 50px;
    font-size: 35px;
    max-width: 8ch;
  }

  .title {
    padding-left: 25px;
    padding-right: 25px;
  }

  .small {
    max-width: 44ch;
    font-size: 14px;
    padding-bottom: 80px;
  }

  #whatis {
    display: none;
  }

  #empty{
    display:flex;
    padding-top:50px;
    background-color:#f7f6f3;
  }

  .container {
    display: none;
  }
  .row {
    display: none;
  }

  /*mobilelist*/
  .resources {
    padding-bottom: 0px;
  }
  .mobilelist {
    display: block;
  }
  .accordion {
    background-color: #f7f6f3;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border:none;
    outline: none;
    transition: 0.4s;
    font-family: Demi;
    font-size: 20px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover,.accordion:focus {
    background-color: #ccc;
    color: black;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: #f7f6f3;
    display: none;
    overflow: hidden;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: black;
  }

  .paneltext {
    margin-top: 40px;
    max-width: 40ch;
  }

  .panelbutton {
    margin-top: 30px;
    float: left;
    margin-bottom: 40px;
  }
  .panelbutton:focus{
    background-color:white;
    color:black;
  }
  .accordion:after {
    content: '\2795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }

  .thiscolor:active {
    color: black;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    float: right;
    color: black;
  }

 
  #footer{
    padding-top:50px;
    padding-bottom:50px;
    background-color:black;
    color:white;
    height: 100%;
    width: 100%;
  }
  .leftbot {
    padding-left: 25px;
  }

  .dot active {
    color: black;
  }

  .bottom {
    line-height: 18px;
    max-width: 50ch;;
  }

  .rightbot {
    display: none;
  }

  #footertitle {
    font-size: 14px;
  }
  .topnav {
    display: block;
  }

  .topnav {
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color:   black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-family: Demi;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #f7f6f3;
    color: black;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    float: right;
    display: block;
  }

  .topnav a {
    display: none;
  }

  .topnav a.activate {
    background-color:  #f7f6f3;
    color: black;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .smalltextcopy {
    font-family:'Franklin Gothic Medium', sans-serif;
  }

  .small {
    font-family: 'Franklin Gothic Medium', sans-serif;
  }

  #empty {
    height: 60px;
    width: 100%;
    background-color: #f7f6f3;
  }
}