#header {
  color: white;
}

@font-face{
  font-family:GT-Super-Display-Light;
  src: url(font/GT-Super-Display-Light.woff);
  font-family:GT-Super-Display-Super;
  src: url(font/GT-Super-Display-Super.woff);
}