@font-face{
    font-family:GT-Super-Display-Light;
    src: url("../font/GT-Super-Display-Light.woff");
  }
  @font-face{
    font-family:GT-Super-Display-Super;
    src: url("../font/GT-Super-Display-Super.woff");
  }
  @font-face{
    font-family:heavyFont;
    src: url("../font/272EE5_0_0.woff");
  }
  @font-face{
    font-family:mid-heavyFont;
    src: url("../font/272EE5_1_0.woff");
  }
  @font-face{
    font-family:demiFont;
    src: url("../font/272EE5_2_0.woff");
  }
  @font-face{
    font-family:regularFont;
    src: url("../font/reg.woff");
  }
@font-face {
    font-family:Noe;
    src:url("../../Typeface/NoeDisplay.otf");
}
.nav a {
    float: right;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: demifont;
  }

a:hover {
    color: black;
    text-decoration: underline;
  }


*{
    margin:0px;
    padding:0px;
}

.sections,.subtitle {
    padding:50px 70px;
}

.intro{
    padding-top: 100px;
    display:flex;
    width: 100%;
    padding-left: 100px;
    padding-right: 80px;
}

.light {
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: 15px;
}

.boldtitle {
    font-size: 50px;
    max-width: 15ch;
    font-family: Noe;
}

.first{
    width:100%;
}


.sectiontitle {
    font-size: 25px;
    padding-top: 20px;
}

.next {
    padding-left: 100px;
}

.col-5 {
    padding-right: 20px;
}

.second {
    padding-left: 80px;
    padding-right: 80px;
    /* width: 600px */
    font-family: 'Franklin Gothic Medium', sans-serif;
}
.banner{

    color:black;
    padding-left: 70px;
}

h1{
    font-size: 70px;
}
h2 {
    font-size:50px;
}


p,.description{
    margin-top:30px;
    font-size: 15pt;
    line-height:22pt;
}
.bold{
    font-weight:bold;
}
.righthalf{
    padding-left: 50px;
}
.row{
    display:flex;
    padding-bottom: 150px;
}

.lightpara {
    font-family: 'Franklin Gothic Medium', sans-serif;
    width: 40%;
    font-size: 15px;
}
.left, .right{
    width:40%;
    background-color: #F7F6F3;
    height: 570px;
}
.right{
    padding-left:60px;
}
img{
    width:100%;
    height:100%;
    object-fit: contain;
}
.image{
    height:100%;
}

#text {
    width: 40%;
    background-color: #F7F6F3;
}

.eachtitle {
    margin-top: 60px;
    font-family: Noe;
    padding-left: 20px;
    padding-left: 30px;
}

.eachtext {
    margin-top: 60px;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.lastsection {
    padding-top: 100px;
    display:flex;
    width: 100%;
    padding-left: 100px;
    padding-right: 80px;
    background-color: #F7F6F3;
    height: 450px;
    padding-bottom: 200px;
}


.list {
    padding-left: 250px;
}

li {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium',  sans-serif;
    line-height: 30px;
}


