@font-face{
    font-family:GT-Super-Display-Light;
    src: url("../font/GT-Super-Display-Light.woff");
}
@font-face{
    font-family:GT-Super-Display-Super;
    src: url("../font/GT-Super-Display-Super.woff");
}
@font-face{
    font-family:heavyFont;
    src: url("../font/272EE5_0_0.woff");
}
@font-face{
    font-family:mid-heavyFont;
    src: url("../font/272EE5_1_0.woff");
}
@font-face{
    font-family:demiFont;
    src: url("../font/272EE5_2_0.woff");
}
@font-face{
    font-family:regularFont;
    src: url("../font/reg.woff");
}
/* clears all the default padding and margin */
*{
    padding:0;
    margin:0;
}

.explore{
    font-family: 'Franklin Gothic Medium';
}
.message{
    font-family:mid-heavyFont;
}
.masthead{
    padding:200px 0px 100px 0px;
    background-color:black;
}
.huge_title{
    font-family: GT-Super-Display-Super;
    color:white;
    font-size:70px;
}
.message{
    font-size:14pt;
    line-height: 18px;
    color: #ffffff;
    opacity: 0.9;
    padding-bottom: 40px;
}
.explore{
    padding:14pt 34px;
    font-weight:bold;
    background:transparent;
    font-size:14px;
    text-align:center;
    color: #ffffff;
    border: 2px solid #ffffff;
}
.banner{
    background-color: black;
    margin-left: 125px;
}

/* for the forward section */
.forward{
    padding-top:150px;
    padding-bottom:100px;
    background-color:white;
    color:black;    
    display:flex;
}


.left{
    font-family:GT-Super-Display-Super;
    writing-mode: vertical-rl;
    font-size:90px;
    color:black;
    margin-left:0px;
    margin-left:90px;
}

.right{
    width:650px;
    padding-left: 300px;
    padding-right:90px;
}

.para,.boldpara{
    margin-top:22pt;
    line-height: 25px;
    font-size: 18px;
}
.firstpara{
    margin-top:0px;
    font-size: 18px;
    line-height:25px;
}
/* setting the fonts for the paragraph */
.para,.names{
    font-family:mid-heavyFont;
}

.boldpara, .firstpara{
    font-family: demiFont;
}
.names{
    font-style:italic;
    padding-bottom: 10px;
}

.row{
    display:flex;
    padding-bottom: 30px;
}

/* for the footer */
footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
}
.footerText{
    font-size: 10pt;
    text-align: center;
    color: white;
}
