@font-face{
    font-family:GT-Super-Display-Light;
    src: url("/font/GT-Super-Display-Light.woff");
}
@font-face{
    font-family:GT-Super-Display-Super;
    src: url("/font/GT-Super-Display-Super.woff");
}
@font-face{
    font-family:heavyFont;
    src: url("/font/272EE5_0_0.woff");
}
@font-face{
    font-family:mid-heavyFont;
    src: url("/font/272EE5_1_0.woff");
}
@font-face{
    font-family:demiFont;
    src: url("/font/272EE5_2_0.woff");
}
@font-face{
    font-family:regularFont;
    src: url("/font/dandad-icons.woff");
}
*{
    padding:0;
    margin:0;
}

.huge_title{
    font-family: GT-Super-Display-Light,serif;
}

.masthead{
    padding:200px 0px 100px 0px;
    background-color:black;
}

.huge_title{
    color:white;
    font-size:70px;
}

.message{
    font-size:18px;
    color: #ffffff;
    opacity: 0.9;
    padding-bottom: 30px;
}
.explore{
    padding:15pt 34px;
    background:transparent;
    font-size:16px;
    text-align:center;
    color: #ffffff;
    border: 2px solid #ffffff;
}
.banner{
    background-color: black;
    margin-left: 73px;
}

/* for the forward section */
.forward{
    padding-top:80px;
    padding-bottom:50px;
    background-color:white;
    color:black;    
    display:flex;
}


.left{
    font-family:GT-Super-Display-Super;
    writing-mode: vertical-rl;
    font-size:100px;
    color:black;
    margin-left:0px;
    margin-left:40px;

}

.right{
    padding-left: 250px;
    padding-right:70px;
    background-image:url("/image/constellation.png");
    background-repeat: no-repeat;
}

.para,.boldpara{
    margin-top:22pt;
    line-height: 22pt;
    font-size: 15pt;
}
.firstpara{
    margin-top:0px;
    font-size: 15pt;
    line-height:22pt;
}
/* setting the fonts for the paragraph */
.para,.names{
    font-family:regularFont,sans-serif;
}

.boldpara, .firstpara{
    font-family: demiFont,sans-serif;
    font-weight:bold;
}
.names{
    font-style:italic;
    padding-bottom: 10px;
}

.subsection{
    text-decoration: underline;
}
.row{
    display:flex;
    padding-bottom: 30px;
}
.description{
    font-size:15pt;
    line-height:22pt;
    margin-top:0px;
}
.righthalf{
    padding-left:10px;
}
.index{
    padding-top: 30px;
    padding-bottom:15px;
}
.links{
    font-family: GT-Super-Display-Light,serif;
}
/* for the footer */
footer{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
}
.footerText{
    font-size: 10pt;
    text-align: center;
    color: white;
}
