/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{ 
	width:100%;
	height:100%;
	background:#111;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

canvas{
  display:block;
  width:100%;
}


/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */
@font-face{
  font-family:GT-Super-Display-Light;
  src: url("../font/GT-Super-Display-Light.woff");
}
@font-face{
  font-family:GT-Super-Display-Super;
  src: url("../font/GT-Super-Display-Super.woff");
}
@font-face{
  font-family:heavyFont;
  src: url("../font/272EE5_0_0.woff");
}
@font-face{
  font-family:mid-heavyFont;
  src: url("../font/272EE5_1_0.woff");
}
@font-face{
  font-family:demiFont;
  src: url("../font/272EE5_2_0.woff");
}
@font-face{
  font-family:regularFont;
  src: url("../font/reg.woff");
}

@font-face{
  font-family:Demi;
  src: url("../../Typeface/bold.TTF");
}

#particles-js{
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.text-container {
  padding-left:120px;
}

#big {
  color: white;
  font-family: GT-Super-Display-Super;
  font-size: 70px;
  max-width: 8ch;
  animation: fadein 3s;
  line-height: 100%;
  padding-bottom: 15px;
}

#small {
  font-family:'Franklin Gothic Medium', sans-serif;
  font-size:14px;
  color: #ffffff;
  opacity: 0.9;
  max-width: 60ch;
  letter-spacing: 1px;
  padding-bottom: 50px;
  animation: fadein 3s;
  line-height: 22px;
}

#message {
  color: white;
  font-family: 'Franklin Gothic Medium';
  font-size:8px;
  transform: rotate(90deg);
  position: absolute;
  top: 45vh;
  right: -60px;
  letter-spacing: 2px;
  animation: fadein 3s;
}

.explore{
  padding:15px 34px;
  background:transparent;
  font-size:10px;
  text-align:center;
  font-style: unset;
  color: #ffffff;
  border: 2px solid #ffffff;
  font-family: Demi;
  animation: fadein 3s;
  transition-duration: 0.4s;
}

.explore:hover {
  background-color: white !important;
  color: black !important;
}
.text-container {
  position: absolute;
  top: 45vh;
}

#content {
  background-color: #fff;
}

.masthead{
  padding:200px 0px 100px 0px;
  background-color:black;
}

.huge_title{
  font-family: GT-Super-Display-Super;
  color:white;
  font-size:70px;
}

.explore{
  padding:14pt 34px;
  font-weight:bold;
  background:transparent;
  font-size:14px;
  text-align:center;
  color: #ffffff;
  border: 2px solid #ffffff;
}
.banner{
  background-color: black;
  margin-left: 125px;
}

/* for the forward section */
.forward{
  padding-top:150px;
  padding-bottom:100px;
  background-color:white;
  color:black;    
  display:flex;
}


.left{
  font-family:GT-Super-Display-Super;
  writing-mode: vertical-rl;
  font-size:120px;
  color:black;
  margin-left:0px;
  margin-left:90px;
}

.right{
  width:650px;
  padding-left: 300px;
  padding-right:90px;

}

.para,.boldpara{
  margin-top:22pt;
  line-height: 25px;
  font-size: 18px;
}
.firstpara{
  margin-top:0px;
  font-size: 18px;
  line-height:25px;
}
/* setting the fonts for the paragraph */
.para,.names{
  font-family:mid-heavyFont;
}

.boldpara, .firstpara{
  font-family: demiFont;
}
.names{
  font-style:italic;
  padding-bottom: 10px;
}

.row{
  display:flex;
  padding-bottom: 30px;
}

/* for the footer */
footer{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: black;
}
.footerText{
  font-size: 10pt;
  text-align: center;
  color: white;
}

/* navigation */
#links {
  padding:20px 70px 20px 0px;
  list-style-type: none;
  overflow: hidden;
}

.tabs{
  float: right;
}

li .eachlink{
  display:block;
  font-size:15px;
  color: lightgray;
  padding: 10px 30px;
  text-decoration: none;
  font-family: FranklinGothic, sans-serif;
}


li .eachlink:hover:not(.active) {
  color: white;
}

li .eachlink.activate {
  color: white;
  font-size: 16px;
  font-family: Demi;
}
li {
  font-size: 15px;
  font-family: FranklinGothic, sans-serif;
  line-height: 30px;
}


* {margin:0;padding:0;border:0 none;position: relative; outline: none;
}

.tabs > a:before {
  content: "";
  position: absolute;
  width: 70%;
  height: 3px;
  bottom: 0;
  right: 10;
  background: white;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}

.tabs > a:hover:before,
.tabs > a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

@media(max-width: 375px) {
  .text-container {
    top: 40vh;
  }
}



@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

@media only screen and (max-width: 414px) {
  .text-container {
    padding-left: 20px;
  }

  #big {
    font-size: 100px;
    max-width: 2ch;
  }

  #small {
    font-size: 12px;
    max-width: 40ch;
  }

  #message {
    top:40vh;
  }

  .forward_title {
    font-size: 50%
  }

  .left {
    margin-left: 20px;
  }

  .right {
    padding-left: 50px;
  }

  .forward {
    padding-top: 100px;
  }
}