@font-face{
    font-family:Noe;
    src: url("../../Typeface/NoeDisplay.otf");
}
h1{
    font-family:Noe;
    font-size:45px;
    max-width: 13ch;
}
p{
    font-family: 'Franklin Gothic', sans-serif;
    font-size:15px;
    line-height:22px;
    padding-top:22px;
}
.names {
    font-style:italic;
}

*{
    margin:0px;
    padding:0px;
}
.letter{
    padding-left:70px;
    padding-top:150px;
    display:flex;
    height:auto;
}
.left{
    background-image:url(../../illustrations/team.png);  
}

.right{
    width:50%;
    padding-left: 100px;
}