@font-face{
  font-family:Noe;
  src: url("../../Typeface/NoeDisplay.otf");
}
@font-face{
  font-family:FranklinGothic;
  src: url("../../Typeface/FranklinGothic");
}

/* setting the font */

*{
  padding: 0px;
  margin: 0px;
}

/* navigation */
ul {
  padding:20px 70px 20px 0px;
  list-style-type: none;
  overflow: hidden;
}

li {
  float: right;
}

li a{
  display:block;
  font-size:15px;
  color: #666;
  padding: 10px 30px;
  text-decoration: none;
  font-family: FranklinGothic, sans-serif;
}

li a:hover:not(.active) {
  color:black;
}

li a.active {
  color: white;
  background-color: black;
}

/* banner section */
.banner{
  display:flex;
  /* justify-content: space-between; */
}

h1{
  font-family:Noe,sans-serif;
  font-size:50px;
}

.background{
  padding:20px;
  background-color: #f7f6f3;
}

.link{
  font-size:25px;
  font-family: 'Franklin Gothic Medium',sans-serif;
  color:black;
  text-decoration: none;
}

hr{
  width:7%;
  border:2px solid;
}

h3{
  font-family: 'Franklin Gothic Medium',sans-serif;
}
p{
  font-family: FranklinGothic, sans-serif;
}
h3,p{
  font-size:15px;
  line-height:22px;
}
.small {
  padding-top:30px;
  max-width: 58ch;
}
.left{
  padding-left:70px;
  padding-top:180px;
}
.right{
  width:60%;
  padding-top:80px;
  height:auto;
  object-fit: contain;
}
img{
  height:100%;
  width:100%;
}

/* resources section */
.resources{
  padding-top:100px;
  padding-bottom:300px;
}
.title, .row{
  padding-left:70px;
  padding-right:70px;
}

.row{
  padding-top:50px;
  display:flex;
  justify-content: space-between;
}
.description{
  padding-top:15px;
  max-width: 36ch;
}


/* button at the bottom */
button{
  font-family: FranklinGothic, sans-serif;
  background-color: transparent;
  border-color:black;
  padding:15px 34px;
  transition-duration: 0.4s;
}

#whatis{
  padding-top:100px;
  padding-right:70px;
  float:right;
}

button:hover{
  background-color:black;
  color:white;
}


/* footer */
footer{
  padding-top:25px;
  padding-bottom:25px;
  background-color:black;
  color:white;
  display: flex;
  justify-content: space-between;
}
.leftbot{
  padding-left:70px;
  max-width: 45ch;
}
.rightbot{
  width:50%;
  padding-right:70px;
}
.bottom{
  font-size:14px;
}
#credit, #ack{
  padding-bottom: 10px;
}
