@font-face{
  font-family:Noe;
  src: url("../../Typeface/NoeDisplay.otf");
}

*{
  padding: 0px;
  margin: 0px;
  width:100%;
}
.banner{
  padding-left:70px;
  height: auto;
  display:flex;
}
h1{
  font-family:Noe;
  font-size:50px;
}

h2{
  font-family: 'Franklin Gothic',sans-serif;
  font-size:25px;
}
p{
  font-family:'Franklin Gothic', sans-serif;
  font-size: 15px;
  line-height:22px;
}
.small {
  padding-top:30px;
}
.left{
  padding-top:180px;
}
.right{
    width:100%;
    height:100%;
    object-fit: contain;
}
img{
    height:100%;
}

.title{
  width: 50%;
}

.resources{
  padding-left:70px;
  padding-top:100px;
  padding-bottom:300px;
}
.description{
  padding-top:15px;
  max-width: 36ch;
}
.row{
  padding-top: 50px;
  display:flex;
}

/* button at the bottom */
button{
  background-color: transparent;
  border-color:black;
  padding:15px 34px;
  font-family: 'Franklin Gothic', sans-serif;
  animation: fadein 3s;
  transition-duration: 0.4s;
}
button:hover{
  background-color:black;
  color:white;
}

#whatis{
  padding-right:135px;
  padding-top:100px;
  float:right;
  width:20%;
}

/* navigation */
.nav{
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Noe;
}
a:hover {
    color: black;
}
